@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playball&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --color-peach: #d9b9a7;
  --color-tan: #a67563;
  --color-rose: #d9b1a3;
  --color-ivory: #fefaf3;
  --color-pale-pink: #f2e4ee;
  --color-mocha: #b28c7f;
  --color-apricot: #ffd7c9;
  --color-lime-green: #4cc54c;
  --color-orange-red: #f04b04;
  --color-chocolate: #573b2f;
  --color-highlight: #f1a203;
  --color-secondary: #333;
  --color-text-primary: #666;
  --text-shadow: rgba(88, 124, 71, 0.816);
  --box-shadow: rgba(0, 0, 0, 0.3);
  --color-carousel: #f1a203;
  --color-light-color: #fefaf3;
  --color-dark-color: #573b2f;
  /* font */
  --font-header: "Poppins", sans-serif;
  --font-headOffer: "Playball", cursive;
  --font-textCard: "Montserrat", sans-serif;
  --font-textCardBody: "Playfair Display", serif;
  --font-body: "Roboto", sans-serif;
}
@media screen and (max-width: 425px) {
  html {
    font-size: 14px;
  }
  /* offer */
  .offers {
    flex-direction: column;
    width: 100%;
  }
  .offer {
    flex-direction: column;
    width: 95%;
    margin: auto;
    align-items: center;
    text-align: center;
    margin-block: 0.5rem;
  }
  .offer .imge {
    margin-bottom: 10px;
  }
  .card-style {
    flex-basis: 95%;
  }
}
